:root{
    --first-color: #354860;
    --second-color: #54545b;
    --third-color : #c9d0dc;
    --forth-color: #2a2e32;
    --fifth-color: #e5e8ee;
    --sixth-color:  #000000;
    --seventh-color: #3b5499;
    /* --first-color: #3a5473; */
    /* --third-color: #393f48; */
}

a{
    text-decoration: none;
}

body{
    background: var(--forth-color);
    font-family: 'Changa', sans-serif;
}


#side-area{
    background: rgb(33,37,41);
    color: var(--fifth-color);
    padding: 30px 0;
   
    
}

#side-area h4{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#side-area ul{
    list-style: none;
    padding: 0;
}

#side-area ul li{
    background: var(--first-color);
    margin: 8px 5px;
    padding: 12px 15px;
    border-radius: 2px;
    border-radius: 1.5em;
    
}

#side-area ul li:hover{
    background: var(--second-color);
    transition: all 0.3s ease-in-out;
    transform: scale(1.055);
}



#side-area ul li a{
    color: var(--fifth-color);
}

#side-area #menu li{
    background: var(--second-color);
}

#side-area #menu li:hover{
    background: rgb(62, 62, 51);
    transition: all 0.3s ease-in-out;
    transform: scale(1.055);
}

#main-area{
    margin-top: 20px;
}

/* Start Categories */

.add-category{
    margin: 30px 20px;
    color: var(--fifth-color);
    font-size: 17px;
}

.add-category input{
    background: var(--fifth-color);
    padding: 10px 10px;
    transition: 0.3s;
    margin-top: 20px;
}

.add-category input:hover{
    scale: 1.015;
}

.btn-custom{
    background: var(--first-color);
    color: var(--fifth-color);
    border: 1px solid var(--first-color);
    border-radius: 1.1em;
    padding: 5px 10px;
    width: 100px;
}

.btn-custom:hover{
    background: var(--second-color);
    transition: all 0.3s ease-in-out;
    transform: scale(1.055);
}

/* Table */

.display-cat table{
    color: var(--fifth-color);
}

/* End Categories */